/**
 */

#header {
  clear: both;
}

#branding {
  float: left;
  width: 300px;
}

h1.brand-elements {
  font-size:1em;
}
.brand-elements span {
  display: block;
}
#logo {
  float: left;
}
#site-name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5;
}
#site-name a:link    {}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}

#header-region {
  float: left;
  width: 320px;
}

#mission {
  font-weight: 700;
  margin: .3em 0 1.5em;
}

h1#page-title {}
.in-maintenance h1#page-title {
  padding:10px;
}

/* Sidebars */
.sidebar {}
#sidebar-first {}
#sidebar-last {}

/* Footer */
#footer {}
#footer-region {}
#footer-region a {}
#footer-message {}
#footer-message a {}

/* Feed icons */
.feed-icon img {
  padding:0 10px;
}
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}

/* Search */
#search-block-form {}

/* Wrapper DIVs. */
#search-block-form > div {}
#search-block-form .container-inline{}
#edit-search-block-form-1-wrapper {}

#search-block-form label {}
#search-block-form input {}

#search-block-form .form-submit {}
#search-block-form .form-text {}

#edit-search-block-form-1:hover,
#edit-search-block-form-1:focus {}

/* Search box */
#search-box {
  float: right;
  width: 300px;
}
#search-theme-form {
  float: right;
  margin: 1.5em 0;
}

#search-theme-form > div {}
#search-theme-form #search {}
#edit-search-theme-form-1-wrapper {}

#search-theme-form label {}
#search-theme-form input {}

#search-theme-form .form-text {}
#search-theme-form .form-submit {}

/* Advanced search form */
#search-form {}
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys-wrapper {}

#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* Textfield styles. */
#search-form #edit-keys-wrapper input {}
#search-form #edit-keys-wrapper input:hover,
#search-form #edit-keys-wrapper input:focus {}

/* Advanced search fieldset. */
#search-form fieldset.search-advanced {}

/* Box styles for the results page. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}

/* Style the no results messages. */
.section-search .box ul {}
.section-search .box ul li {}

/* Search results document list. */
dl.search-results {}
dl.search-results dt {}
dl.search-results dd {}
dl.search-results dd p {}
dl.search-results dd .search-snippet {}
dl.search-results dd .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}

/* Button Wrappers */
span.button-wrapper {} /* Outer wrapper */
span.button {} /* Inner wrapper */


/****************************************** Custom CSS ******************************/


body {
  background: none repeat scroll 0 0 #EDEDEB;
}

#content-column .content-inner {
    background: none repeat scroll 0 0 white;
    margin: 0 !important;
    padding: 16px 30px;
    width: 598px;
    box-shadow: 0 0 2px #888888;
    -moz-box-shadow: 0 0 2px #888888;
    -webkit-box-shadow: 0 0 3px #888888;
}

#sidebar-last .block {
  box-shadow: 0 0 2px #888888;
  -moz-box-shadow: 0 0 2px #888888;
  -webkit-box-shadow: 0 0 3px #888888;
}

#messages-and-help {
  padding: 0;
  margin-top: 63px;
}


#sidebar-last .block {
  background: #ffffff;
  margin: 0 0 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header {
  display: inline-block;
  margin-top: 30px;
}

#primary-menu {
  display: inline-block;
  margin-bottom: 10px;
}

#primary-menu ul.primary-links {
    background: none repeat scroll 0 0 #FFFFFF;
    text-decoration: none;
}

#primary-menu .sf-menu li {
  background: none repeat scroll 0 0 #FFFFFF;
}

.primary-links li a {
  color: #CC9933;
  text-decoration: none;
  font-weight: bold;
}

.primary-links li {
    padding: 12px;
}

.primary-links li.active {
  background: none repeat scroll 0 0 #E5E5E5;
}

#block-block-21 {
  padding: 0;
  margin-top: 10px;
}

h2, h1, h2 a, h1 a {
  color: #669933;
}

p, a {
  color: #666666;
}

#block-menu-menu-footer-links ul.menu li.leaf {
    display: inline-block;
    float: left;
    margin-left: 33px;
}

#footer-message {
    background: none repeat scroll 0 0 #7F7F7F;
    height: 83px;
    margin: 0 auto;
    text-align: center;
}

#footer-message .foot-msg {
  color: #FFFFFF;
  display: inline-block;
  margin-top: 32px;
}

.foot-msg a {
  color: #fff;
  text-decoration: none;
}

#block-menu-menu-footer-links ul.menu {
  display: inline-block;
}

#block-menu-menu-footer-links {
  background: none repeat scroll 0 0 #959595;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

#block-menu-menu-footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

#block-menu-menu-footer-links .block-content {
  padding: 15px 0;
}

ul.primary-links li:hover {
  background: none repeat scroll 0 0 #E5E5E5;
}

#primary-menu li.sfHover, #primary-menu li:hover {
  background: #E5E5E5 !important;
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  top: 4.5em !important;
}

.sf-menu li:hover > ul li:hover, .sf-menu li.sfHover > ul li:hover{
  background: #E5E5E5 !important;
}

#page {
  width: 962px !important;
}

.columns-inner #content-column {
  width: 658px;
}

#columns #sidebar-last {
  margin-left: 25px;
  width: 275px;
}

#sidebar-last ul {
  padding-left: 0 !important;
}

#sidebar-last ul.menu li a{
  color: #808080;
  font-size: 16px;
  text-decoration: none;
  background: url("/sites/all/themes/drupalcampdelhi/images/arrow.png") no-repeat scroll 5px 12px transparent;
  padding-left: 15px;
}

#sidebar-last ul.menu li {
  list-style: none outside none;
}

#breadcrumb {
  display: none;
}

#sidebar-last .block h2 {
  background: none repeat scroll 0 0 #669933;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: 0 5px 1px;
  margin-bottom: 10px;
}

#block-block-23 {
  background: none repeat scroll 0 0 #669933;
  display: inline-block;
  float: right;
  margin-bottom: 8px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 10px;
}

#block-block-23 h2 {
  color: white;
}

#block-block-25 a {
  color: #808080;
  font-size: 13px;
  text-decoration: none;
}

li.views-row {
  float: left;
  list-style: none !important;
  margin: 0 10px 0.25em 0;
  padding: 0;
  width: 120px;
}

li.views-row .views-field-picture {
  border: 1px solid gray;
}

.user-picture img {
  height: 110px;
  width: 100px;
  padding: 10px;
}

.views-field-name {
  border: 1px solid gray;
  text-align: center;
}

.views-field-name a {
  padding: 10px;
  text-decoration: none;
}

#primary-menu {
  float: right;
}

.article-teaser {
border-bottom: 1px solid #888;
padding-bottom: 20px;
}










